    body, html {
        margin: 0;
        padding: 0;
    }

    #bg {
        position: fixed;
        top: 0;
        left: 0;
        /* Preserve aspet ratio */
        min-width: 100%;
        min-height: 100%;
        filter: blur(2px);
    }

    #content {
        
    
    
        width: 1200;
        margin: 0 auto;
        position: relative;
        
        display: flex;
        justify-content: space-around;
        
        flex-direction: row;
        

    }

    .box {
       
        
        margin-right: 19px;
        position: absolute;
        animation: 3s ease-out 0s 1 slideInFromLeft;
        width: 900px;
        height: 100vh;
        background-color:rgba(0, 0, 0, 0.651);
        border-left: 2px solid white;
        border-right: 2px solid white;
        
        
    }

    .button {
        font-family: 'Amatic SC';
        transition: background-color 1s; 
        top: 135px;
        display: block;
        font-size: 20px;        
        
       padding: 5px;
        
       height: 30px;
        width: 100px;
        text-align: center;
        
        background-color: rgba(253, 253, 253, 0.267);
        margin-top: 6px;
        text-decoration-line: none;
        position: relative;
        
        color: white;
        border: 2px solid white;
        margin-left: 10px;
        margin-top: 10px;
    }
    
    .button:hover {
        background-color: rgba(253, 253, 253, 0.5);
    }
    #menu {
        
       
        display: flex;
        justify-content: center;
        flex-direction: row;
        
    }

    .clanek {
        width: 350px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.308);   
        text-align: center;
        transition: height 1s, width 1s;
        border: 3px solid white;
        
        padding: 5px;

    }


    #clanky_flex {
        width: 700px;
        display: flex;
        margin-left: 10%;
        font-family: 'Amatic SC';
        font-size: 20px;
        color: white;  
        justify-content: space-between;
        flex-direction: row;

    }
    .nadpis {
        font-family: 'Amatic SC';
        text-align: center;
        font-size: 60px;
        color: white;
        transition: font-size 1s;

    }

    .nadpis:hover {
        font-size: 61px;
    }


    @keyframes slideInFromLeft {
        0% {
        filter: opacity(0);
        }
        100% {
            filter: opacity(100);
        }
    }