body html {
    padding: 0;
    margin: 0;
    

}
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

html {
   
}

@keyframes mousehover {
    from { background-color: rgba(255, 255, 255, 0.281);}
    to { background-color: rgba(255, 255, 255, 0.767);}
  }

#bg {
    position: fixed; 
    top: 0; 
    left: 0; 
      
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    filter: blur(5px);
}

  .popup {
      width: 500px;
      height: 500px;
      position: absolute;
      margin: auto;
      left: 33%;
    }

   .popuplogo h1 {
        color: white;
        position: absolute;
        font-family: 'Amatic SC';
        left: 44%;
        top: 53%;
        margin: auto;
        letter-spacing: 3px;
        
    }

    .button {
        display: block;
        position: absolute;
        text-decoration-line: none;
        color: white;
        font-family: 'Amatic SC';
        font-size: 35px;
        letter-spacing: 3px;
        border: 1px solid white;
        background-color: rgba(45, 224, 120, 0.281);
        left: 45.2%;
        top: 60%;
        transition:  font-size 1s, background-color 2s;
        padding: 10px;
        
    }

    .button:hover {
        
        background-color: rgba(255, 255, 255, 0.507);
    }

    @media  only screen and (max-width: 415px)  {
        .button {
            display: block;
            position: absolute;
            text-decoration-line: none;
            color: white;
            font-family: 'Amatic SC';
            font-size: 80px;
            letter-spacing: 3px;
            border: 1px solid white;
            left: 50%;
            background-color: rgba(255, 255, 255, 0.281);
            top: 64%;
            padding: 10px; 
        }

        .popuplogo h1 {
            color: white;
            position: absolute;
            font-family: 'Amatic SC';
            left: 45%;
            top: 50%;
            margin: auto;
            letter-spacing: 3px;
            font-size: 60px;
        }

        
        body{
            overflow-x:hidden ;
         }

        .popup {
            width: 500px;
            height: 500px;
            position: absolute;
            margin: auto;
            left: 11%;
            top: 10%;
           
        }

        .button:hover {
            background-color: rgba(255, 255, 255, 0.514);
        }
        
    }